.b-permission_list {	
    
}
.b-permission_list__table {
    margin-bottom: 15px;
}
.b-permission_list__table label {
    display: block;
    text-align: center;
}
.b-permission_list__table td {			
    padding: 3px 5px;			
}
.b-permission_list__table_col_names td {
    background-color: #5B5B5B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#D3D3D0));
    background-image: -moz-linear-gradient(center top, #E8E8E8 100%, #D3D3D0 100%);
    background-repeat: repeat-x;
    border: 1px solid #FFFFFF;
}
.b-permission_list__perm_group th {
    text-align: left;
    font-weight: bold;
    padding: 6px 15px;
}
.b-permission_list__perm_group .sub_group th {
    padding: 5px 15px 6px 15px;
    font-weight: normal;
}
.b-permission_list__perm_group td {
    border: 1px dotted rgb(187, 187, 187);
}
.b-permission_list__not_grouped_el td {
    border: 1px dotted rgb(187, 187, 187);
}
.b-permission_list .half-checked {
    background: darkGray;
    border: 1px inset black;
}